{% extends 'base.html' %}
{% load static %}

{% block body %}


<style type="text/css">
	.image-container{
		max-width: 250px;
		height: auto;
		position: relative;
	}
	.field-heading{
		color: #737373;
	}
	#id_confirm{
		color: green;
	}
	#id_confirm:hover {
		opacity: 0.3;
	}
	#id_cancel:hover {
		opacity: 0.3;
	}
	#id_cancel{
		color: red;
	}
	.material-icons{
		font-size: 30px;
	}
	.material-icons:hover{
		cursor: pointer;
	}

	.conti-main{
		width: 35vw;
		/* border: 2px solid red; */
		margin-top: 4em;
	}

	/* Media query for tablet width 768px */
  @media only screen and (min-width: 768px) and (max-width: 1023px) { 

	.conti-main {
		width: 45vw;
		/* border: 2px solid red; */
		margin-top: 1em;
	}
}
</style>

<div class="container-fluid conti-main">
	<div class="row justify-content-center">
		<div class="card profile-card">
		  <div class="card-body">
		  	<div class="d-flex flex-column justify-content-center p-4">
		  		
		  		<form class="form-signin" method="post">{% csrf_token %}
					  <!-- <input type="email" name="email" id="id_input_email" class="form-control" placeholder="Email address" required autofocus value={{form.initial.email}}> -->
					  <h6 class="mt-4 field-heading">Name</h6>
					  {% comment %} <input type="text" name="name" id="id_input_name" class="form-control" placeholder="name" required
					value="{{form.name}}"> {% endcomment %}
					<h6>{{form.name}}</h6>
					
		  			<!-- <input class="d-none" type="file" id="id_profile_image_file_selector" name="profile_image_file_selector" onchange="readURL(this)"> -->
					  
			  		<h6 class="mt-4 field-heading">Email</h6>
					  <h6>{{form.email}}</h6>
					  
			  		<h6 class="mt-4 field-heading">University Name</h6>
					
                    <h6>{{form.universityName}}</h6>

					<p class="mt-4 mb-1 field-heading">Distance</p>
					{% if form.origin %}
					<div>
					<input type="radio" name="my_dist" value="True" checked> Origin
					<input type="radio" name="my_dist" value="False"> Nearby
				</div>
					{% else %}
					<div>
					<input type="radio" name="my_dist" value="True"> Origin
					<input type="radio" name="my_dist" value="False" checked> Nearby
				</div>
					{% endif %}

					<div class="d-flex flex-column mt-4">
						<button class="mt-4 btn btn-outline-dark flex-grow-1" type="submit">Save</button>
					</div>
					
				</form>

		  	</div>
		  </div>
		</div>
	</div>
</div>



{% endblock body %}
