{% extends 'base.html' %}
{% load static %}

{% block body %}


<style type="text/css">
  .card-signin {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
  }

  .form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="text"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .rectangle {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    /* background-color: red; */
  }

  .box1 {
    /* border: 2px solid black; */
    width: 30vw;
  }

  .box2 {
    /* border: 2px solid purple; */
    width: 25vw;
  }
</style>

<div class="container-fluid">
  <div class='rectangle'>
    <div class='box1'>
      <div class="row justify-content-center">
        <div class="card card-signin" style="height: 321px; width: 371px;">
          <div class="card-body">
            <form class="form-signin" method="post" onsubmit="return validateForm()">{% csrf_token %}
              <div class="d-flex flex-column pb-3">
              </div>
              <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required
                autofocus>
              <input type="text" name="lat" id="lat" placeholder="lat" hidden>
              <input type="text" name="lon" id="lon" placeholder="lon" hidden>
              <input type="checkbox" name="notrust" id="notrust" hidden>
              <input type="text" name="universityName" id="universityName" hidden>

              <input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="Password"
                required>

              <input type="password" name="password2" id="inputPassword2" class="form-control"
                placeholder="Confirm password" required>

              {% for field in registration_form %}
              <p>
                {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
              {% endfor %}
              </p>
              {% endfor %}
              {% if registration_form.non_field_errors %}
              <div style="color: red">
                <p>{{registration_form.non_field_errors}}</p>
              </div>

              {% endif %}

              <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>

            </form>
          </div>
        </div>

      </div>
    </div>
    <div class='box2'>
      <h6 id="uniName"></h6>
      <div id="map" style="height: 292px; width: 350px;"></div>
      <h6 id="trust_btn" style="display: none;">Not My University <button onclick="trustButton()">click here</button></h6>
      {% comment %} <h6 id="msg_not_my_uni" style="display: none;">Not My University Msg <button onclick="">click here</button></h6> {% endcomment %}
      <div id="map2" style="height: 292px; width: 350px;"></div>

    </div>
  </div>
</div>

<script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet'
  href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.css' type='text/css' />

<script>

  showMap(77.2219388, 28.6517178, 2)

  // Here we are handling the socket connection and also what happens when socket disconnects.
  // -----------------------------------------------------------------------------------------

  console.log("Setting up the WebSocket - ")

  // Correctly decide between ws:// and wss://
  var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
  var ws_path = ws_scheme + '://' + window.location.host + "/register/"; // development

  // console.log("Connecting to " + ws_path);
  chatSocket = new WebSocket(ws_path);

  // Handle incoming messages
  chatSocket.onmessage = function (message) {

    // Decode the JSON
    console.log("Got websocket message.");
    var data = JSON.parse(message.data);
    console.log(data)

    if (data.connected) {
      console.log(data.connected)
    }

    if (data.universityName != null && data.universityName != 'nope' && data.fetched_from != 1) {
      console.log('hurrah ', data.universityName)
      document.getElementById('uniName').innerHTML = 'University Name : ' + data.universityName
      document.getElementById('universityName').value = data.universityName
      document.getElementById('lat').value = data.lat
      document.getElementById('lon').value = data.lon
      showMap(data.lon, data.lat, 14)
      var checkbox = document.getElementById('notrust');
      checkbox.checked = false;

    } else if (data.fetched_from == 1 && data.universityName != null && data.universityName != 'nope'){
      console.log('hurrah no trust ', data.universityName)
      document.getElementById('uniName').innerHTML = 'University Name : ' + data.universityName
      document.getElementById('lat').value = data.lat
      document.getElementById('lon').value = data.lon
      showMap(data.lon, data.lat, 14)
      var checkbox = document.getElementById('notrust');
      checkbox.checked = true;
        
    } else if (data.universityName == 'nope') {
      console.log('This university does not exist in the database.')
      document.getElementById('uniName').innerHTML = 'Unable to find your university'
      showSearch()
    }

    if (data.trust_button) {
        var trust_btn = document.getElementById('trust_btn')
        trust_btn.style.display = 'block';
    }

   
  }

  // basic event listeners for our websocket
  // ------------------------------------------------------------------------

  chatSocket.addEventListener("open", function (e) {
    console.log("ChatSocket OPEN")

  })


  chatSocket.onclose = function (e) {
    console.log('Chat socket closed.');

  };

  chatSocket.onOpen = function (e) {
    console.log("ChatSocket onOpen", e)
  }

  chatSocket.onerror = function (e) {
    console.log('ChatSocket error', e)
  }

  if (chatSocket.readyState == WebSocket.OPEN) {
    console.log("ChatSocket OPENN")

  } else if (chatSocket.readyState == WebSocket.CONNECTING) {
    console.log("ChatSocket connecting..")
  }

  const email = document.getElementById('inputEmail');

  // Function to be executed when the first field has complete input
  function onInputChange() {
    window.notrust = false
    if (window.notrust == false) {
          var checkbox = document.getElementById('notrust');
          checkbox.checked = false;
        }
    console.log('calling email input', window.notrust)
    const emailAddress = email.value;
    if (emailAddress.endsWith('.edu') || emailAddress.endsWith('.edu.in') || emailAddress.endsWith('.ac.in')) {
      console.log(emailAddress);
      chatSocket.send(JSON.stringify({
        "command": "email",
        "email_address": emailAddress,
      }));
    } else if (emailAddress == '') {
      // if(map2){
      //   console.log('This means that the search map exist so we have to remove it')
      //   var map_container = document.getElementById('map2')
      // map_container.parentNode.removeChild(map_container);
      // }
      showMap(77.2219388, 28.6517178, 2)
      document.getElementById('uniName').innerHTML = ''

    }
  }

  $('#inputEmail').on('input', function () {
    onInputChange()
  });

  function showMap(lon, lat, zoom) {
    var map_container1 = document.getElementById('map')
    map_container1.style.display = 'block';
    window.map_1 = true
    if (window.map_2) {
      var map_container = document.getElementById('map2')
      map_container.innerHTML = ''
      map_container.style.display = 'none';
      // map_container.parentNode.removeChild(map_container);
      window.map_2 = false
    }
    mapboxgl.accessToken = 'pk.eyJ1IjoicHVzaHBlbmRyYS0iLCJhIjoiY2t5Y2szbTFmMHExeDJ2cW9qMHE4b2o1biJ9.OKY1IsUcQDRE1oYJbpOdOg';

    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [lon, lat],
      zoom: zoom // Default zoom level
    });

    // Create a default Marker and add it to the map.
    const marker1 = new mapboxgl.Marker()
      .setLngLat([lon, lat])
      .addTo(map);

  }

  function showSearch() {
    var map_container2 = document.getElementById('map2')
    map_container2.style.display = 'block';
    
    window.map_2 = true
    if (window.map_1) {
      var map_container = document.getElementById('map')
      map_container.innerHTML = ''
      map_container.style.display = 'none';
      // map_container.parentNode.removeChild(map_container);
      window.map_1 = false
    }
    mapboxgl.accessToken = 'pk.eyJ1IjoicHVzaHBlbmRyYS0iLCJhIjoiY2t5Y2szbTFmMHExeDJ2cW9qMHE4b2o1biJ9.OKY1IsUcQDRE1oYJbpOdOg';
    var map2 = new mapboxgl.Map({
      container: 'map2', // Container ID
      style: 'mapbox://styles/mapbox/streets-v11', // Map style to use
      center: [77.2167, 28.6139], // Starting position [lng, lat]
      zoom: 5, // Starting zoom level
    });

    var marker = new mapboxgl.Marker() // Initialize a new marker
      .setLngLat([77.2167, 28.6139]) // Marker [lng, lat] coordinates
      .addTo(map2); // Add the marker to the map

    var geocoder = new MapboxGeocoder({ // Initialize the geocoder
      accessToken: mapboxgl.accessToken, // Set the access token
      mapboxgl: mapboxgl, // Set the mapbox-gl instance
      marker: false, // Do not use the default marker style
      placeholder: 'Search for universities and colleges', // Placeholder text for the search bar
      // bbox: [79.0000, 5.0000, 82.0000, 10.0000], // Boundary for Berkeley
      types: 'poi',
      countries: 'IN',
      bbox: [68.1766451354, 6.754087679, 97.4025614766, 35.4940095078],

      proximity: {
        longitude: 77.2167, // Longitude of New Delhi
        latitude: 28.6139 // Latitude of New Delhi
      }

    });

    // Add the geocoder to the map
    map2.addControl(geocoder);

    // After the map style has loaded on the page,
    // add a source layer and default styling for a single point
    map2.on('load', function () {
      map2.addSource('single-point', {
        type: 'geojson',
        data: {
          type: 'FeatureCollection',
          features: []
        }
      });

      map2.addLayer({
        id: 'point',
        source: 'single-point',
        type: 'circle',
        paint: {
          'circle-radius': 10,
          'circle-color': '#448ee4'
        }
      });

      // Listen for the `result` event from the Geocoder
      // `result` event is triggered when a user makes a selection
      // Add a marker at the result's coordinates
      geocoder.on('result', function (ev) {
        window.notrust = true
        if (window.notrust) {
          var checkbox = document.getElementById('notrust');
          checkbox.checked = true;
        }
        console.log('printing the search reesult', ev.result, window.notrust);
        document.getElementById('uniName').innerHTML = 'University Name : ' + ev.result['text']
        document.getElementById('universityName').value = ev.result['text']
        document.getElementById('lon').value = ev.result['geometry']['coordinates'][0] 
        document.getElementById('lat').value = ev.result['geometry']['coordinates'][1]
        map2.getSource('single-point').setData(ev.result.geometry);
      });
    });
  }

  function trustButton(){
    showSearch()
    var trust_btn = document.getElementById('trust_btn')
    trust_btn.style.display = 'none';
    document.getElementById('uniName').innerHTML = ''
  }

  function validateForm(){
    var universityName = document.getElementById('universityName').value.trim();
    var emailAddress = email.value;
    console.log(universityName)
    if (universityName === '' && (emailAddress.endsWith('.edu') || emailAddress.endsWith('.edu.in') || emailAddress.endsWith('.ac.in')) == true ){
      alert('Please Select Your University')
      return false; // Prevent form submission
    }

    return true; // Allow form submission

  }

</script>

{% endblock body %}