{% extends 'base.html' %}
{% load static %}
{% block body %}

<style>


@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Rubik&display=swap');


    body{
        background-color: #F9F9F9;
        font-family: 'Rubik', sans-serif;
        /* height: 100vh; */
        /* border: 2px solid blue; */
        display: flex;
        flex-direction: column;
        scroll-behavior: smooth;
    }

.home-container{
    /* border: 2px solid red; */
    display: flex;
    /* justify-content: center; */
    /* flex: 1; */
    height: calc(100vh - 58px);
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.box-left h3{
    font-size: 29px;
}
.box-left p{
    font-size: 18px;
}

.box-right img {
    width: 351px;
    height: 264px;
}

.center-box{
    /* border: 2px solid blue; */
    width: 63vw;
    /* height: 76vh; */
    margin-top: 5.4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-left {
    margin-bottom: 1em;
}

.box-right{
    /* border: 2px solid rgb(0, 0, 0); */
    margin-bottom: 3em;
}

.sub-head{
    width: 380px;
    margin-bottom: 2em;
}

.st{
    margin-top: 2.5em;
}

.home-btn1 {
    font-size: 14px;
    width: 75px;
}

.home-btn1:hover {
    background-color:  #F9F9F9;
    color: #343A40;
}

.home-btn2 {
    font-size: 14px;
    width: 75px;
    margin-left: 4px;
}

.bottom-box{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    /* height: 12vh; */
    height: 90px;
}

.navbar{
    position: sticky;
    top: 0;
}

.bottom-box img {
    text-align: center;
    width: 2.5rem;
}

.info-section{
    /* height: 100vh; */
    height: calc(100vh - 58px);
    /* width: 100vw; */
    border: 2px solid red;
}

    /* Media query for tablet width 768px */
    @media only screen and (min-width: 768px) and (max-width: 1023px) { 

        body {
            /* border: 5px solid red; */
        }

        .center-box{
            width: auto;
            justify-content: center;
        }

        .box-left{
            width: 46%;
        }

        .sub-head {
            max-width: 400px;
            margin-bottom: 0em;
        }

        .st {
            margin-top: 1.5em;
        }

        .box-right{
            width: 48%;
        }

        .box-right img {
            width: 371px;
            height: 264px;
        }

    }

    
  /* Media query for tablet width 320px */
  @media only screen and (min-width: 300px) and (max-width: 500px) { 

    .box-right{
        display: none;
    }

    .center-box{
        width: 71vw
    }

    .box-left h3 {
    font-size: 24px;
}

.box-left p {
    font-size: 16px;
    width: 200px;
}


}


</style>


{% comment %} <div class='home_container'>
    <div class='d-flex justify-content-center flex-column'>
        
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">MyStranger.In</h1>
                    <p class="col-md-8 fs-4">A place where you can connect with the strangers of your own university and if you want so, than you can also connect with the strangers of other nearby universities as well. It's totally up to you with which strangers you want to connect and can be friends with.
                        Remember we all meet thousands of strangers in our life but there are only few of them which we can call mine.
                    </p>
                    
                    <a href="{% url 'new-chat' %}"><button type="button" class="btn btn-primary btn-lg">New Chat</button>
            </div>
        </div>
    </div>
</div> {% endcomment %}

<div class="home-container">

    <div class="center-box">
        <div class="box-left">
        <h3>From Strangers to Friends</h3>
        <p class="sub-head">Connect with random nearby college
            Students anonymously</p>
        
        <p class="st">Start Chatting :</p>
        <div class="head-buttons">
            {% if request.user.is_authenticated %}
                <a href="{% url 'new-chat-text' %}"><button type="button" class="btn btn-dark home-btn1">Text</button></a>
                <a href="{% url 'new-chat' %}"><button type="button" class="btn btn-outline-dark home-btn2 ">Video</button></a>
            {% else %}
            <a href="#"><button type="button" class="btn btn-dark home-btn1" onclick="login_req()">Text</button></a>
            <a href="#"><button type="button" class="btn btn-outline-dark home-btn2 " onclick="login_req()">Video</button></a>
            <p class="mt-1" id="login-req-txt" style="font-size:14px; display: none;">login required </p>
            {% endif %}
            
        </div>
    </div>

    <div class="box-right">
        <img src="{% static 'images/2.2_tr_nohand.png' %}" alt="" srcset="">
        {% comment %} <img src="{% static 'images/2.2_tr_super_modified.png' %}" alt="" srcset=""> {% endcomment %}
    </div>
    </div>

    <div class="bottom-box">
        <a href="#info-sec" class="bottom-box" style="text-decoration: none; color: #343a40;">
            <p>scroll down for more</p>
            <img src="{% static 'images/mouse.svg' %}" alt="" srcset=""> </a>
    </div>

    

</div>
{% comment %} 
<section class="info-section" id="info-sec">
    <p>here i can add anything </p>
</section> {% endcomment %}

<script>
    function login_req() {
    var login_req_txt = document.getElementById("login-req-txt")
    login_req_txt.style.display = "block"
    // You can replace the alert with your desired code to show the message.
}

</script>
{% endblock body %}